*{
    background-color: rgba(245,245,245,245)
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1 {
    size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    size: 24px;
    color: #606060;
    font-weight: 800;
}

p {
    size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
li:hover{
    background-color: rgba(0, 0,0, 0.1);
}
ul{
    font-family: monospace;
    size: 18px;
    list-style: none;
    right: 10px;
}
ul a{
    color: orange;
    text-decoration: underline ;
    font-weight: bold;
}
ul { 
    border: 2px solid blue;
    margin-left: 100px;
    padding: 20px;
    border-radius: 2px;
    width: 40%;
    
}
li{
    word-spacing: 10px;
}
.lista {
    color: green;
}


